@model IEnumerable<SIUIFTS.Models.Inscripcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de inscripciones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Alta de nueva inscripción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DNI Alumno
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlumnoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.MateriaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscripcionID" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.InscripcionID"class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.InscripcionID"class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
