@model SIUIFTS.Models.Profesor

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle</h2>
<br />
<br />

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Fecha de contratación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeContratacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfesorID" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>
