@model IEnumerable<SIUIFTS.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado de materias</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Alta de nueva materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Materia ID
            </th>
            <th>
                Materia
            </th>
            <th>
                Profesor
            </th>

            <th>
                Turno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MateriaID"class="btn btn-primary" >Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MateriaID"class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MateriaID"class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
